.calculator{
    width: 400px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	border-radius: 15px;
  	background-color: white;
  	padding: 15px;
  	margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
  	text-align:center;
    float: right;
  }
  	.discription{
  		width:700px;
  		line-height: 18px;
  		margin-top: 30px;
  		text-align:left;
  		
      margin-left:50px;
  		float: left;
 }
  	.define{
  		color: #5c5151;
  		font-size:14px;
  		font-family: Aerial,sans-serif;
  		display: none important;
  	}
  	.heading{
  		font-size: 40px;
  		font-family: MuseoSans700;
  		text-align: center;	
  	}
  	span {
  padding-bottom: 10px;
  border-bottom: 1px solid pink;
  line-height: 48px;
}

  	.result{
  		font-size: 16px;
  		font-family: Aerial,sans-serif;
  		text-align: center;
  		font-weight: bold;
  	}
  	.entry{
  		border: 2px solid #dbdbff; 
  	border-radius: 5px;
  	width:150px;
  	height: 30px;
  	}
  	.box{
      position: relative;
   height: 100%;
   width: 100%;
    background: url('images/tape2.jpg');
    top:0;
    left:0;
    bottom:0;
    margin:0;
    padding:0;
    z-index:1000;
    background-size: 100% 100%;
    background-position: left top;
    background-attachment: fixed;
}
  	td {
  text-align: left;
  padding: 5px;
}
  	.text{
  		font-weight: bold;
  		font-size: 16px;
  		font-family: Aerial,sans-serif;
  		text-align: left;
  	}
  	.button{
  		background-color: #2679ff;
  		border: none;
  		color: white;
  		font-weight: bold;
  		font-size: 20px;
  		padding: 12px 32px;
  		width:80%;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 16px;
  		border-radius: 5px
  	}
  	.radio-toolbar {
  margin: 10px;
  
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: white;
    padding: 5px 14px;
    font-family: sans-serif, Arial;
    font-size: 14px;
    border: 1px solid #dbdbff;
    border-radius: 4px;
}

.radio-toolbar label:hover {
  background-image: radial-gradient(white, #d9d9d9);
}


.radio-toolbar input[type="radio"]:checked+label {
	background-image: radial-gradient(white, #a1a1a1);    
}
.styleselect select {
   background: transparent;
   max-width: 160px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 30px;
   }
   .styleselect select::-ms-expand {
    display: none;
}
   .styleselect {
   overflow: visible;
   border: 2px solid #dbdbff;
   border-radius: 5px;
    background-repeat: no-repeat !important;
   }